/node_modules
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.project
.settings
.buildpath
nbproject/
.vagrant/
.vscode/settings.json
composer.lock
package-lock.json
yarn.lock
npm-debug.log
yarn-error.log
.phpstan.neon
phpstan.neon
.php-cs-fixer.cache
